body { padding-top: 50px; }
.cordinc-content { padding: 40px 10px; }
.tagset-1 {}
.tagset-2 { font-size: 120%; }
.tagset-3 { font-size: 125%; }
.tagset-4 { font-size: 140%; }
.tagset-5 { font-size: 160%; }